body {
	font-family: Arial, Helvetica, sans-serif;
	background-size: contain;
	color: whitesmoke;
	text-align: center;
	background-color: rgb(25, 25, 25);
	margin: 0;
}
h1 {
	font-size: 40px;
}

header {
	flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    line-height: 1;
	background-color: rgb(171, 15, 15);
}
#textanim {
    margin-bottom: 0px;
    line-height: 1.1;
	text-align: right;
}

.fade-in-image {
    margin-top: 50px;
	margin-bottom: 0px;
    height: 250px;
    display: inline-block;
}
a:link, a:visited {
    color: rgb(175, 28, 28); 
}
.image-container {
    display: inline-block;
	padding: auto;
	margin-top: 5px;
}

.image-container img {
	max-width: 60px;
	max-height: 60px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.artikel-leiste {
  width: 100%;
  padding: 1rem;
}

.scroll-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.artikel-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  scrollbar-width: none;
}

.artikel-container::-webkit-scrollbar {
  display: none;
}

.artikel-card {
  flex: 0 0 auto;
  width: 200px;
  height: 150px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 1px;
}

body.page-bby {
	background-color: black;
	color: white;
	text-align: middle;
}
main {
	padding: 0;
}
body.page-kurse {
	background-color: white;
	text-align: center;
	color: black;
}
