html, body {
    overflow-x: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-size: contain;
	color: whitesmoke;
	text-align: center;
	background-color: rgb(25, 25, 25);
	margin: 0;
}
h1 {
	font-size: 40px;
}

header {
	flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  line-height: 1;
	background-color: #ff2626;
}

.fixed-header {
  position: fixed;
  top: 0;      
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid whitesmoke
}

main {
  margin-top: 60px;
}

#textanim {
    margin-bottom: 0px;
    line-height: 1.1;
    text-align: right;

    display: inline-block;
    opacity: 0;            
    transform: translateX(-100%);
}

.slide-in-text {
    animation: slideFromLeft 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-image {
  margin-top: 50px;
  margin-bottom: 0px;
  height: 250px;
  display: inline-block;

  position: relative;
  opacity: 0;
  animation: slideFromRight 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 1s;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

a:link, a:visited {
    color: #9c1414; 
}
.image-container {
    display: inline-block;
	padding: auto;
	margin-top: 5px;
}

.image-container img {
	max-width: 60px;
	max-height: 60px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.artikel-leiste {
  width: 100%;
  padding: 1rem;
}

.scroll-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.artikel-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  scrollbar-width: none;
}

.artikel-container::-webkit-scrollbar {
  display: none;
}

.artikel-card {
    position: relative; 
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    flex: 0 0 auto;
}

.artikel-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artikel-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
	  background-color: #ff262600;
    text-align: center;
}

.artikel-card a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.artikel-card .image-container {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}
