body {
	font-family: Arial, Helvetica, sans-serif;
	background-size: contain;
	color: whitesmoke;
	text-align: center;
	background-color: rgb(25, 25, 25);
	margin: 0;
}
h1 {
	font-size: 40px;
}

header {
	background-color: rgb(171, 15, 15);
}
#textanim {
    margin-bottom: 0px;
    line-height: 1.1;
}

.fade-in-image {
    margin-top: 0px;
	margin-bottom: 0px;
    height: 250px;
    display: inline-block;
}
a:link, a:visited {
    color: rgb(208, 52, 52); 
}
body.page-bby {
	background-color: black;
	color: white;
	text-align: middle;
}
.image-container {
    display: inline-block;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease;
    width: 100%;
}

.image-container img:hover {
    transform: scale(1.1);
}
main {
	padding: 0;
}
body.page-kurse {
	background-color: white;
	text-align: center;
	color: black;
}
